<%- include('_layouts/header'); -%>

<%- include('_layouts/header1'); -%>

    <div class="slide-one-item">  
      

      <div class="site-blocks-cover" style="background-image: url(./images/banner.jpg);"  data-stellar-background-ratio="0.5">
        
      </div>  
    </div>
    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7">
            <h2 class="site-section-heading font-weight-light text-purple text-center">Why HairCan?</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
            <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
              <span class="icon flaticon-razor display-3 text-primary mb-4 d-block"></span>
              <h3 class="text-black h4">Appointments done better</h3>
              <p>HairCan is a free hair scheduling website and makes appointments easy to find and book within seconds. No more phone tag. Book anytime, from anywhere, 24/7.</p>              
            </div>
          </div>
          <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
            <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
              <span class="icon flaticon-location-pin display-3 text-primary mb-4 d-block"></span>
              <h3 class="text-black h4">Easy to use</h3>
              <p>It is not only easy for your clients to book your salon services 24/7. It is also easy for you to manage your online appointments, see new and upcoming bookings, schedule bookings from walk in clients etc.</p>
            
            </div>
          </div>
          <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
            <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
              <span class="icon flaticon-shave display-3 text-primary mb-4 d-block"></span>
              <h3 class="text-black h4">Confirmation & Reminders</h3>
              <p>All salon clients get an e-mail or SMS upon appointment booking as well as the scheduled salon employee. Your no-shows will also be reduced by automatic reminders via email and/or SMS.</p>
            
            </div>
          </div>
        </div>
      </div>
    </div>  
    <%- include('_layouts/footer'); -%>
  
    
  

  
    
 