<%- include('_layouts/header'); -%>

<%- include('_layouts/header1'); -%>
   <div class="site-section bg-light backgroundd" style="background-image: url('images/background.jpg');">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 mb-5">
            <h2 class="site-section-heading font-weight-light text-black text-center">Create Your Business Account</h2>
          </div>
        </div>
        <div class="row">
          
          <div class="col-md-7 mb-5">

            

            <form action="#" class="p-5 bg-form">
             

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">Your Name</label>
                  <input type="text" id="fname" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Business Name</label>
                  <input type="text" id="lname" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label> 
                  <input type="email" id="email" class="form-control">
                </div>
              </div>
              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="email">Phone Number</label> 
                  <input type="email" id="email" class="form-control">
                </div>
              </div>
              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="subject">Address</label> 
                  <input type="subject" id="subject" class="form-control">
                </div>
              </div>
              <div class="row form-group">
                
  
                <div class="col-md-12">
                  <label class="text-black" for="email">Password</label> 
                  <input type="email" id="email" class="form-control">
                </div>
              </div>

              
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="message">About You</label> 
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Tell us more about yourself and your business!"></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Submit" class="btn btn-submit py-2 px-4 text-white">
                </div>
              </div>

  
            </form>
          </div>
          <div class="col-md-5">
              <img src="images/vendor-signup.png" style="height: 100%;
              width: 642px;">
          </div>
        </div>
      </div>
    </div>
    <%- include('_layouts/footer'); -%>

  </div>

  
  </body>
</html>